[Unit]
Description=G13 Advanced Gameboard

[Service]
Type=simple
ExecStartPre=/bin/chmod o+rw /dev/uinput
ExecStart=/opt/g13/bin/g13d --config /home/cameri/.config/g13/bindings/ro.bind --pipe_in /tmp/g13d-in --pipe_out /tmp/g13d-out

[Install]
WantedBy=multi-user.target
