[Unit]
Description=G13 Advanced Gameboard

[Service]
Type=simple
# Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/opt/g13/bin/g13d --config %h/.config/g13/bindings/ro.bind

[Install]
WantedBy=default.target
